*{
    /* Thuộc tính inherit kế thừa từ cha của nó ( thẻ html) */
    box-sizing: inherit;

}

html{
    /* cứ 1 rem tương ứng với 10px(dễ quy đổi) -- 100% tương ứng với 1.6rem */
    font-size: 62.5%;
    /* khi padding,border sẽ không làm thay đổi kích thước mặc định */
    box-sizing: border-box;
    /* (tương ứng 16px) */
    line-height: 1.6rem;
    /* font chữ không chân */
    font-family: 'Roboto', sans-serif;

}

:root{
    --primary-color: #00acc1;
    --white-color: #fff;
    --text-color :#222;
    --header-height: 120px;
    --header-navbar: 31px;
    --header-with-search: calc(var( --header-height) - var(--header-navbar));
    --boder-color: #e1e1e1;
}


/* button btn style */
._btn{
    background-color: #f2f2f2;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-size-s{
    height: 30px;
    padding: 6px 20px;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

/* Chỉ những thuộc tính có cả 2 class với add vào */
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}


/* price old */
.price-old{
    text-decoration: line-through;
}


/* link under */
.header__navbar-link-under{
    
}

/* marin top */
.mrt-48{
    margin-top: 48px !important;
}
.mrt-12{
    margin-top: 12px !important;
}
/* keyframes */
@keyframes fadIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}